/* custom css */
/*vertical menu*/
body{
  font-family: 'Montserrat-regular';
}
/*.verticalmenu-content ul{
  margin: 0;
  padding: 0;
}
.verticalmenu-content ul li{
  list-style: none;
}
.verticalmenu-content ul li a{
  display: block;
  padding: 8px 8px 8px 15px;
  line-height: 23px;
  border-bottom: solid 1px #f7f7f7;
  color: #000;
}
.verticalmenu-content ul li:last-child a{
  border-bottom: none;
}
.verticalmenu-content ul li a span{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.verticalmenu-content ul li a i{
  font-style: normal;
  position: relative;
  top: -4px;
}
.block-nav-categori .block-title{
  cursor: default;
}
.block-nav-categori .verticalmenu-content{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  margin-top: 20px;
  border: solid 2px #f7f7f7;
}*/

.slider-home .widget_home_slider{
  float: left;
  width: calc(100% - 270px);
}
.slider-home .content-images-home{
  float: right;
}
.slider-home .content-images-home li{
  list-style: none;
  width: 250px;
  margin-bottom: 28px;
}
.slider-home .content-images-home li:last-child{
  margin-bottom: 0;
}
.slider-home .content-images-home li img{
  width: 100%;
  height: 164px !important;
}
div.custom-title h2{
  color: #fff;
  font-family: 'Montserrat-regular';
  font-size: 20px;
  background: #fec524;
  text-transform: uppercase;
  display: table;
  float: left;
  padding: 10px 20px;
  margin: 70px 0 0 0;
}
div.custom-title span{
  width: 100%;
  height: 1px;
  background: #ececec;
  display: block;
  clear: both;
  position: relative;
  top: -1px;
}
div.custom-title p.descuento-txt{
  font-family: 'Montserrat-regular';
  font-size: 20px;
  color: #666666;
  text-transform: uppercase;
  position: relative;
  top: -35px;
  left: 182px;
}
.menu-item a img{
  width: 32px;
}
.entry-summary .product_title{
  color: #585959;
  font-family: 'Montserrat-bold';
  font-size: 25px;
  line-height: 28px;
}
.price ins{
  color: #ffc627;
}
.btn-consultar{
  background-color: #fec524;
  line-height: 45px;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: table;
  margin-bottom: 28px;
}
.btn-consultar:focus{
  color: #fff;
}
.btn-consultar:hover{
  color: #fff;
}
.smarket-single-product-socials{
  display: inline-block;
}
.link-send-mail{
  display: inline-block;
  color: #4f5051;
  font-size: 12px;
  font-family: 'Montserrat-regular';
  position: relative;
  top: -6px;
  margin-left: 10px;
}
.product_title a{
  color: #393939;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.product-item .product-thumb{
  height: 200px;
}
.entry-summary .block-stock .title{
  color: #4f5051;
}
