/* custom css */
/*vertical menu*/
body{
  font-family: 'Montserrat-regular';
}
/*.verticalmenu-content ul{
  margin: 0;
  padding: 0;
}
.verticalmenu-content ul li{
  list-style: none;
}
.verticalmenu-content ul li a{
  display: block;
  padding: 8px 8px 8px 15px;
  line-height: 23px;
  border-bottom: solid 1px #f7f7f7;
  color: #000;
}
.verticalmenu-content ul li:last-child a{
  border-bottom: none;
}
.verticalmenu-content ul li a span{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 4px;
  margin-right: 5px;
}
.verticalmenu-content ul li a i{
  font-style: normal;
  position: relative;
  top: -4px;
}
.block-nav-categori .block-title{
  cursor: default;
}
.block-nav-categori .verticalmenu-content{
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  margin-top: 20px;
  border: solid 2px #f7f7f7;
}*/

.slider-home .widget_home_slider{
  float: left;
  width: calc(100% - 270px);
}
.slider-home .content-images-home{
  float: right;
}
.slider-home .content-images-home li{
  list-style: none;
  width: 250px;
  margin-bottom: 28px;
}
.slider-home .content-images-home li:last-child{
  margin-bottom: 0;
}
.slider-home .content-images-home li img{
  width: 100%;
  height: 164px !important;
}
div.custom-title h2{
  color: #fff;
  font-family: 'Montserrat-regular';
  font-size: 20px;
  background: #fec524;
  text-transform: uppercase;
  display: table;
  float: left;
  padding: 10px 20px;
  margin: 70px 0 0 0;
}
div.custom-title span{
  width: 100%;
  height: 1px;
  background: #ececec;
  display: block;
  clear: both;
  position: relative;
  top: -1px;
}
div.custom-title p.descuento-txt{
  font-family: 'Montserrat-regular';
  font-size: 20px;
  color: #666666;
  text-transform: uppercase;
  position: relative;
  top: -35px;
  left: 182px;
}
.menu-item a img{
  width: 32px;
  max-height: 23px;
}
.entry-summary .product_title{
  color: #585959;
  font-family: 'Montserrat-bold';
  font-size: 25px;
  line-height: 28px;
}
.price ins{
  color: #ffc627;
}
.btn-consultar{
  background-color: #fec524;
  line-height: 45px;
  color: #fff;
  padding: 0 20px;
  text-transform: uppercase;
  border-radius: 3px;
  display: table;
  margin-bottom: 28px;
}
.btn-consultar:focus{
  color: #fff;
}
.btn-consultar:hover{
  color: #fff;
}
.smarket-single-product-socials{
  display: inline-block;
}
.link-send-mail{
  display: inline-block;
  color: #4f5051;
  font-size: 12px;
  font-family: 'Montserrat-regular';
  position: relative;
  top: -6px;
  margin-left: 10px;
}
.product_title a{
  color: #393939;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
}
.product-item .product-thumb{
  height: 200px;
}
.entry-summary .block-stock .title{
  color: #4f5051;
}
.widget_marcas_widget ul li a, .sidebar .widget_product_categories .cat-item a{
  text-transform: uppercase;
  font-family: 'Montserrat-regular';
  color: #000;
  font-weight: normal;
}
.toolbar-products{
  width: 100%;
}
.toolbar-products .pagination-top{
  float: right;
}
.nosotros .image{
  background-position: center;
  background-size: cover;
  height: 325px;
  margin-bottom: 30px;
}
.nosotros h2{
  color: #ffc627;
  font-family: 'Montserrat-regular';
  font-weight: bold;
  font-size: 23px;
  text-transform: uppercase;
}
.nosotros p{
  color: #141414;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
}
.nosotros .foot{
  text-align: center;
}
.nosotros .foot .image{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 65px;
  height: 75px;
  margin: 50px auto 30px auto;
}
.nosotros .foot h2{
  color: #ffc627;
  font-family: 'Montserrat-bold';
  font-size: 23px;
  text-transform: uppercase;
}
.nosotros .foot p{
  color: #141414;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 26px;
}
.owl-stage{
  /*padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: solid 1px #eeeeee;*/
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-image a{
  position: relative;
  height: 180px;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-image a img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  max-width: initial !important;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-title{
  height: 48px;
  overflow: hidden;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-title a{
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  display: block;
  color: #1a1a1a;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-created-date{
  font-style: italic;
  opacity: 0.5;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-desc{
  padding: 0 !important;
  overflow: hidden;
  height: 68px;
  margin-bottom: 20px !important;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-buttons{
  text-align: left !important;
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-buttons a{
  background-color: initial !important;
  color: #fec524;
  padding: 0;
  position: relative;
  /*float: left;*/
}
.simple-theme.wp-posts-carousel .wp-posts-carousel-buttons a:before{
  content: '';
  display: block;
  width: 18px;
  height: 9px;
  background-image: url('../images/arrow-slider-posts.png');
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}
.widget_wp_posts_carousel, .widget>ul>li, .widget-area li{
  list-style: none !important;
}
/*404*/
body.error-404{
  height: 100%;
}
body.error-404 .full-height{
  background: #fec524;
  height: 100%;
}
body.error-404 .container-404{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: table;
  text-align: center;
}
body.error-404 .container-404 h1{
  color: #fff;
  font-family: 'Montserrat-bold';
  font-size: 189px;
  margin: 0;
  height: 134px;
  line-height: 133px;
  margin-bottom: 56px;
}
body.error-404 .container-404 h2{
  color: #fff;
  font-family: 'Montserrat-bold';
  font-size: 26px;
  margin: 0;
  margin-bottom: 23px;
}
body.error-404 .container-404 p{
  color: #fff;
  font-family: 'Montserrat-bold';
  font-size: 19px;
  margin: 0;
  margin-bottom: 68px;
}
body.error-404 .container-404 p a.btn-404-inicio{
  color: #fff;
  border: solid 1px #fff;
  padding: 10px 33px;
  font-family: 'Montserrat-regular';
  font-size: 19px;
  margin-right: 10px;
}
body.error-404 .container-404 p a.btn-404-inicio:hover, body.error-404 .container-404 p a.btn-404-inicio:focus{
  text-decoration: none;
}
body.error-404 .container-404 form input[type="text"]{
  background: #fff;
  height: 40px;
  width: 317px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  line-height: 40px;
  display: inline-block;
  padding-left: 10px;
}
body.error-404 .container-404 form .btn-404-enviar{
  display: inline-block;
  background-image: url('../images/lupa.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #454a53;
  height: 40px;
  width: 70px;
  position: relative;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  top: 7px;
  left: -5px;
  border: none;
}
body.error-404 footer{
  margin-top: 0px;
}
body.error-404 footer div.footer-top{
  display: none;
}
.header-custom-icons a{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: 20px 20px;
  transition: all 0.3s ease;
}
.header-custom-icons a:hover{
  opacity: 0.5;
}
.header-custom-icons a.facebook{
  background-image: url('../images/icos/ico-facebook-grey.svg');
}
.header-custom-icons a.mail{
  background-image: url('../images/icos/ico-mail-grey.svg');
  width: 30px;
  height: 20px;
  background-size: auto 20px;
}
.header-custom-icons a.phone{
  background-image: url('../images/icos/ico-phone-grey.svg');
}
.header-custom-icons{
  position: relative;
  top: 5px;
}
.header-custom-icons a.location{
  background-image: url('../images/icos/ico-location-grey.svg');
}
.header-search-box{
  left: -25px;
  position: relative;
}
.header-content .logo img{
  width: 250px;
}
